@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background: #f1f1f3;
	display: flex;
	flex-flow: row;
	min-height: 100vh;
}
.side {
	position: relative;
	background-image: url("img/vista-wei-kqw2gr5n2cc-unsplash.jpg");
	background-size: cover;
	width: 35%;
	display: flex;
	flex-direction: column;
}
.logo {
	margin-top: 35%;
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #5e5a5a7e;
}
.logo img {
	min-width: 36px;
	min-height: 36px;
	max-width: 124px;
	max-height: 124px;
}
.logo p {
	font-family: Futura, Trebuchet MS, Arial, sans-serif;
	font-size: 60px;
	padding: 16px;
	color: aliceblue;
}

.side-footer {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: flex-end;
	color: whitesmoke;
}
.side-footer p {
	z-index: 1;
	background-color: #3535358e;
	border-radius: 8px;
	padding: 5px;
}

.main-content {
	margin-left: 48px;
}

.main-content .top {
}
