@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.side a,
.side a:visited {
	color: aliceblue;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background: #f1f1f3;
	display: flex;
	flex-flow: row;
	min-height: 100vh;
}

h2 {
	padding-bottom: 16px;
}
.side {
	position: relative;
	background-image: url("img/vista-wei-kqw2gr5n2cc-unsplash.jpg");
	background-size: cover;
	width: 35%;
	display: flex;
	flex-direction: column;
}

.logo {
	margin-top: 370px;
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #5e5a5a7e;
}

.logo img {
	min-width: 36px;
	min-height: 36px;
	max-width: 124px;
	max-height: 124px;
}

.logo p {
	font-family: Futura, Trebuchet MS, Arial, sans-serif;
	font-size: 60px;
	padding: 16px;
	color: aliceblue;
}

.side-footer {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: flex-end;
	color: whitesmoke;
}

.side-footer p {
	z-index: 1;
	background-color: #3535358e;
	border-radius: 8px;
	padding: 5px;
}

.main-content {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-content .mid {
	background-color: white;
	padding: 36px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.main-content .mid h3 {
	padding: 16px 0;
	flex: 1;
}

.main-content .top {
	padding-left: 36px;
	padding-top: 200px;
	flex: 1;
}

.btn {
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 16px 60px;
	font-weight: bolder;
	font-size: large;
	background-color: #eecad2;
	border-radius: 8px;
	border: 0;
	color: #474747;
	box-shadow: 5px 5px 5px #5250503b;
}
section {
	display: flex;
	flex-wrap: wrap;
}
.bottom {
	padding: 36px;
	flex: 1;
}
.bottom a,
.bottom a:visited {
	text-decoration: none;
	color: #eea7ce;
}
.mid section p {
	display: flex;
	font-size: smaller;
	font-weight: 500;
}

.form-field {
	flex-direction: column;
	flex-basis: 50%;
	padding-bottom: 24px;
}

.form-field input {
	width: 300px;
	height: 36px;
	padding-left: 8px;
	border-radius: 3px;
	border-color: #e5e7eb;
}

.form-field input:focus {
	width: 300px;
	height: 36px;
	border-radius: 3px;
	outline: #eea7ce solid;
	box-shadow: 5px 5px 5px #33333352;
}
.error {
	outline: red solid;
}
#confirmPassword-feedback {
	color: rgba(255, 16, 16, 0.877);
	padding-top: 8px;
}
